      <label for="productSelect">Select Product:</label>
      <select id="productSelect">
        <% ["","LL","LR","ML","MR"].forEach(p => { %>
          <option value="<%= p %>" <%= p === type ? "selected" : "" %>><%= p %></option>
        <% }) %>
      </select>