<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>PPS Batch - Diecasting Data</title>
    <script src="/libs/echarts/echarts.min.js"></script>
   <link rel="stylesheet" href="/libs/bootstrap/bootstrap.min.css" />
     <link rel="stylesheet" href="/libs/material-icons/material-icons.css" />

    <link rel="stylesheet" href="/css/pps-batch.css">
  </head>
  <body>
    <div class="controls">
      <h1 class="mb-4">壓鑄機(壓力、速度、位置)曲線圖(多shot)</h1>

      <!-- Dropdown -->
      <div id="controls">
         <%- include("partials/_product-dropbox") %>

       <%- include("partials/_countdown-control") %>
      </div>

      <div>
        <%- include("partials/_datetimepicker") %>
      </div>
    <!-- Loading Partial -->
    <%- include('partials/loading') %>

    <!-- Chart -->
    <div id="chart"></div>

 <script src="/js/pps-batch.js"></script>

  </body>
</html>
