<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Max Pressure vs Max Speed</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.0/nouislider.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.0/nouislider.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wnumb/1.2.0/wNumb.min.js"></script>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/psmax.css" />
  </head>
  <body>
    <h1>Max Pressure vs Max Speed (Latest 500 Shots)</h1>

    <!-- Loading Spinner -->
    <%- include("partials/loading") %>

    <!-- Main Content (hidden until data loaded) -->
    <div id="main-content" style="display: none">
      <div id="controls">
        <%- include("partials/_product-dropbox") %>
        <%-include("partials/_countdown-control") %>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            id="hideControllers"
            name="hideControllers"
            checked
          />
          <label class="form-check-label" for="hideControllers"
            >Hide Controllers</label
          >
        </div>
      </div>

      <div class="collapse" id="manual-control">
        <div class="controls"><%- include("partials/_datetimepicker") %></div>
        <div class="controls">
          <table id="limitsTable">
            <thead>
              <tr>
                <th></th>
                <th>LCL</th>
                <th>UCL</th>
                <th>TOL</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><b>Speed</b></td>
                <td>
                  <input
                    class="form-control"
                    type="number"
                    id="speedLCL"
                    value=""
                  />
                </td>
                <td>
                  <input
                    class="form-control"
                    type="number"
                    id="speedUCL"
                    value=""
                  />
                </td>
                <!-- Merge this cell across 2 rows -->
                <td
                  rowspan="2"
                  style="text-align: center; vertical-align: middle"
                >
                  <button id="applyLimitsBtn">Apply to Chart</button>
                </td>
              </tr>
              <tr>
                <td><b>Pressure</b></td>
                <td>
                  <input
                    class="form-control"
                    type="number"
                    id="pressureLCL"
                    value=""
                  />
                </td>
                <td>
                  <input
                    class="form-control"
                    type="number"
                    id="pressureUCL"
                    value=""
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- statistic data -->
      <div class="controls">
        <table id="statsTable">
          <thead>
            <tr>
              <th>Product</th>
              <th>Status</th>
              <th>Count</th>
              <th>Total</th>
              <th>Percent</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>

      <div id="chart"></div>
      <div id="rangeLabel"></div>
      <div id="timeSlider"></div>
    </div>

    <script src="/js/psmax.js"></script>
  </body>
</html>
